/* ==========================================
    hw1.CSS
    These are the final styles for the project .
   (Homework One)
   Author:  Saddam Arbaa
   Website: (TODO)
   ========================================== */


/* ====== STYLE body =========== */

body {
    margin: 20px;
    padding: 5px;
    background: #ffffff;
}


/* ====== STYLE header =========== */

header {
    background: #A3BCB6;
    /* The image used */
    background-image: url('/images/flywheel.jpg');
    /* Center the image */
    /*background-position: center; */
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
}


/* ====== H1,H2 =========== */

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    color: #fff;
    text-align: center;
}

h2 {
    color: #00c3ff;
}


/* ====== STYLE section =========== */

section {
    background: rgb(124, 122, 123);
}


/* ====== STYLE Links =========== */

a {
    text-align: center;
    background: rgb(240, 240, 240);
    color: #333;
}


/* ====== STYLE images =========== */

.left img {
    display: none;
}