/* ==========================================
    hw1.CSS
    These are the final styles for the project .
   (Homework One)
   Author:  Saddam Arbaa
   Website: (TODO)
   ========================================== */


/* ====== STYLE body =========== */

* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 5px;
}


/* ====== STYLE header =========== */

header {
    background: #A3BCB6;
    /* The image used */
    background-image: url('/images/flywheel.jpg');
    /* Center the image */
    /*background-position: center; */
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
    min-height: 150px;
    padding: 25px;
}


/* ====== H1,H2 =========== */

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    color: #fff;
    text-align: center;
}

h2 {
    color: #00c3ff;
}


/* ====== STYLE main content =========== */

main {
    overflow: hidden;
}


/* ====== main .leftt class take 25% of the content =========== */

main .left {
    width: 25%;
    float: left;
    text-align: center;
    background: #f6faf0;
}


/* ====== main .right class take 75% of the content =========== */

main .right {
    float: right;
    width: 75%;
}


/* ====== STYLE images =========== */

.left img {
    width: 85%;
    margin-top: 8%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: auto;
}


/* ====== STYLE images on hover =========== */

.left img:hover {
    border: 1px solid #777;
}