/* =====================
   STYLE weeks2.css
   Author: Saddam Arbaa
   ===================== */

* {
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    background: #B3B3B3;
    margin: 2%;
}


/* Styling header */

header {
    background: #00B7EA;
    text-align: center;
    padding-bottom: 15px;
}

h1 {
    color: #ffffff;
}

h2 {
    background-color: #00B7EA;
    color: #666;
}


/* Styling Navbar */

nav {
    font-family: Arial, "Time New Roman";
    font-variant: small-caps;
}


/* Styling main content(sections) */

section {
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    float: left;
}

details {
    font-style: italic;
}

summary {
    font-style: normal;
}


/* Styling footer */

footer {
    background: #00B7EA;
    height: 100px;
    clear: both;
}

img {
    width: 100px;
}